.btn{
    margin:0 auto;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border: 1px solid #000;
    width: 100px;
    border-radius: 10px;
    background-color: #2ad2db;
    box-shadow: 2px 2px;
}

.warn{
    background-color: #fa721e !important;
}


